@page "/NewYearBookEntry"
@using  Blazor.Services
@using  Blazor.Model
@inject IYearBookService InMemoryYearBookService
<h3>NewYearBookEntry</h3>

<div>
    <label>Name:</label>
    <input type="text" @bind="name" />
</div>
<div>
    <label>Pronouns:</label>
    <input type="text" @bind="pronouns" />
</div>

<div>
    <label>Fun fact:</label>
    <input type="text" @bind="funFact" />
</div>
<div>
    <label>Image URL:</label>
    <input type="text" @bind="imageUrl" />
</div>
<div>
    <label>Started Year:</label>
    <input type="number" @bind="year" />
</div>
<button @onclick="Register" class="acceptbtn">Register Entry</button>

<p>@message</p>

@code {

    //Name, Pronouns, Fun fact, Image Url, Year.
    private string name;
    private string pronouns;
    private string funFact;

    private string imageUrl;
    private int year;
    private string message = "";

    private void Register()
    {
        if (string.IsNullOrWhiteSpace(name) || 
            string.IsNullOrWhiteSpace(imageUrl) || 
            year < 1900 || year > 2100)
        {
            message = "Please fill in all required fields.";
            return;
        }

        var newYearBookEntry = new YearBookEntry(0, name, pronouns, funFact, imageUrl, year);
        InMemoryYearBookService.AddYearBookEntry(newYearBookEntry);

        message = $"YearBookEntry {name} was registered successfully!";
        ResetForm();
    }

    private void ResetForm()
    {
        name = string.Empty;
        pronouns = string.Empty;
        funFact = string.Empty;
        imageUrl = string.Empty;
        year = 0;
    }
    
}