@using Blazor.Services
@using Blazor.Model
@inject IYearBookService InMemoryYearBookService

<h3>YearBook Entry Statistics</h3>

<div class="d-flex flex-column">
    {
        <div>
            Year: @entry.Year            Count: @entry.Count
        </div>
    }
</div>

@code {
    
}